@import './boska.css';


#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    flex-direction: column;
    padding: 30px;
    font-family: 'Boska';
    width: 100%;
}

.grid-main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

h1 {
    font-family: 'Boska';
    font-size: 65px;
    text-transform: uppercase;
    align-self: flex-start;
}


hr {
    background-color: black;
    height: 2px;
}























